/* Signup Page Styles */
.signup-container {
    padding-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
    background-color: #000F0B; /* Rich Black */
  }
  
  .signup-card {
    background-color: #112221; /* Dark Green */
    padding-left: 4rem;
    padding-right:  4.5rem;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 600px;
    text-align: left; /* Left align content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signup-heading {
    padding-top: 30px;
    color: #00E8CF; /* Caribbean Green */
    text-align: center;
    margin-bottom: 10px;
  }
  
  .signup-card p {
    color: #F0F2F0;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Ensure form elements align properly */
  .signup-card form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* Left-aligned labels */
  .signup-card label {
    color: #F0F2F0; /* Anti-Flash White */
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Input fields styling */
  .signup-card input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #094534; /* Basil */
    background-color: #054938; /* Forest */
    color: #F0F2F0; /* Anti-Flash White */
    border-radius: 5px;
    outline: none;
  }
  
  .signup-card select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #094534; /* Basil */
    background-color: #054938; /* Forest */
    color: #F0F2F0; /* Anti-Flash White */
    border-radius: 5px;
    outline: none;
  }
  .signup-card input::placeholder {
    color: #F0F2F0;
    opacity: 0.8;
  }
  
  /* Adjust select field to match input width */
  .signup-card select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  /* Button container to center the button */
  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  /* Smaller, center-aligned button */
  .signup-card button {
    width: 40%;
    padding: 10px;
    background-color: #22C55E; /* Mountain Meadow */
    border: none;
    color: #F0F2F0;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
  }
  
  .signup-card button:hover {
    background-color: #00BC4C; /* Bangladesh Green */
  }
  
  /* Login link styling */
  .signup-link {
    margin-top: 15px;
    text-align: center;
    color: #F0F2F0;
  }
  
  .signup-link a {
    color: #3FEBD0; /* Mint */
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }